.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-section {
  .figure {
    text-align: center;

    .image {
      width: 100%;
      max-width: 30rem;
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;

      @include media-breakpoint-up(sm) {
        width: 100%;
        max-width: 60rem;
      }
    }
  }

  .header {
    margin-bottom: 3.2rem;

    h5 {
      font-weight: $font-weight-light;
    }
  }

  .article {
    text-align: center;
  }

  .btn {
    display: inline-block;
  }
}
