.pagination {
  margin: 8rem 0;
  text-align: center;

  .page-numbers {
    margin: 0 .4rem;
    padding: .8rem 1.6rem;
    background: $color-bg;
    border-radius: .3rem;
    font-size: 1.8rem;
    color: $color-black;

    &.current {
      background: $color-primary;
      color: $color-white;
    }
  }
}
