.home {
  .header-page {
    background-color: $color-black;

    @include media-breakpoint-up(md) {
      position: absolute;
      z-index: 9;
      right: 0;
      left: 0;
      background-color: transparent;
    }
  }
}

.logo {
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo-img {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      max-height: 3rem;
    }
  }

  .logo-img-mobile {
    display: block;
    max-width: 3.5rem;
    margin: .5rem 0;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
